*
{
	margin: 0;
	padding: 0;
}


.logo img
{
	margin-top: 10px;
	width: 100px;
	height: auto;
	float: left;
}
h2 a
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 40px;
	float: left;
	color: black;
	margin-top: 2%;
	margin-left: -1%;

}
body
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%;
	background:#ffffff;
	background-size: cover;
	background-position: center;
}
.btngrp
{
	margin: 3%;
	padding: 0%;

}
.croplist
{
	outline: none;
	width: 60%;
	height: 5%;
	background-color: white;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 35px 5px;
	display: inline-block;
	cursor: pointer;
	margin: 17px;
	border: 1px solid black;

}
.btngrp button:hover
{
	background-color: #de9b38;
}
.a1
{
	margin: 0%;
	padding: 8%;

}