*
{
	margin: 0;
	padding: 0;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 15px;
}
.main-nav li a:hover
{
	border: 1px solid black;
}
.logo img
{
	margin-top: 10px;
	width: 100px;
	height: auto;
	float: left;
}
h2 a
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 40px;
	float: left;
	color: black;
	margin-top: 2%;
	margin-left: -1%;

}
body
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%;
	background:white;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.row
{
	max-width: 1200px;
	margin: auto;
}
.loginbox
{
	width: 50%;
	height: auto;
	background-color: white;
	color: #000;
	top: 20%;
	left: 25%;
	position: absolute;
	box-sizing: border-box;
	padding: 30px;
	border: 1px solid black;
}

.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}
.loginbox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="number"],input[type="password"],[type="date"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background-color: black;
	color: white;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
	
}
.loginbox h1
{
	text-align: center;
	margin-top: 14%;
}
.loginbox form
{
	margin-top: -7%;
}
.loginbox input[type="text"]
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
}
.loginbox select
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	width: 100%;
	margin-bottom: 20px;
}
.loginbox select option
{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000;
	}
