*
{
	margin: 0;
	padding: 0;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}
.main-nav li
{
	display: inline-block;
}
.main-nav li a
{
	color: black;
	text-decoration: none;
	padding: 5px 20px;
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 15px;
}
.main-nav li a:hover
{
	border: 1px solid black;
}
.logo img
{
	margin-top: 10px;
	width: 100px;
	height: auto;
	float: left;
}
h2 a
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-size: 40px;
	float: left;
	color: black;
	margin-top: 2%;
	margin-left: -1%;

}
body
{
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	height: 100%;
	background:white;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.row
{
	max-width: 1200px;
	margin: auto;
}


.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}

.btngrp
{
	margin: 3%;
	padding: 0%;

}
.croplist
{
	outline: none;
	width: 40%;
	height: 50%;
	background-color: white;
	color: #000;
	font-weight: bold;
	font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
	padding: 0% 2% 0% 2%;
	display: inline-grid;
	margin: 15px;
	border: 1px solid black;
	font-size: 20px;
	text-align: left;


}

.croplist .user
{

	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}
.a1
{
	margin: 0%;
	padding: 8% 0% 0% 0%;

}

.croplist h1
{
	font-size: 35px;
	text-align: center;
	margin: 0% 0% 0% 35%;
	padding: 0% 0% 0% 0%;
	width: fit-content;
}
.croplist b
{
	color: #E8A010;
}
.croplist input
{
	width: 100%;
	margin-bottom: 20px;
}
.croplist form
{
	margin-top: -7%;
}
.button_farm
 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  margin: -10% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.popup img
{
	width:30px;
	height: auto;
}
